body
{
	background: #505050;
}
header
{
	position: relative;
	top: 10px;
	margin: auto;
	width: 1420px;
	height: 137px;
	/*border-radius: accepte 4 valeurs pour l'arrondissement de chaque coins. On peut n'en indiquer que 2, qui correspondront aux coins opposés*/
	border-radius:10px 10px;
	/* box-shadow: 1/ décalage horizontal vers la droite, 2/ décalage vertical vers le bas, 3/ force du dégradé, 4/la couleur */
	box-shadow: 10px 10px 10px black;
	background: #909090;
}
.logo
{
	margin-left: 10px;
	max-width: 35%;
	height: auto;
}
.glass
{
	max-width: 17%;
	height: auto;
	position: absolute;
	right: 45px;
}
.reload
{
	max-width: 2%;
	height: auto;
	position: absolute;
	right: 8px;
	top: 12px;
}
.close
{
	max-width: 95%;
	height: auto;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

/* /////////////////////////////////////////////// */

.left {
	overflow: hidden;
	height: 450px;
	width: 150px;
	border-radius:10px 10px;
	box-shadow: 10px 10px 10px black;
	background: #909090;
	float:left;
	margin-top: 30px;
	margin-right: 15px;
	margin-left: 130px;
}
.center {
	height: 583px;
	width: 900px;
	border-radius:10px 10px;
	box-shadow: 10px 10px 10px black;
	background: #909090;
	float:left;
	margin-top: 30px;
	margin-right: 15px;
}
.right {
	overflow: hidden;
	height: 450px;
	width: 150px;
	border-radius:10px 10px;
	box-shadow: 10px 10px 10px black;
	background: #909090;
	margin-top: 30px;
	float:left;
}

.popup{
	position: absolute;
	top: 670px;
	left: 80px;
	width: 300px;
	border-radius:10px 10px;
	box-shadow: 10px 10px 10px black;
	background: #88ff89;
}
.arrow, .hand, .eye, .tool, .chat, .book, .towel, .brick{
	width: 70px;
	height: auto;
}

.cluster{
	width: 850px;
	height: auto;
}
