
body{
	background-image: url("https://yt3.ggpht.com/a/AGF-l7_d2AGGAGuOgVkKSPbRoS-thRYAxukyodlr3w=s900-c-k-c0xffffffff-no-rj-mo");
	background-repeat: repeat;
	background-position: center;
	background-attachment: fixed;
}
table
{
	width: 80%;
}
td
{
	height: 80px;
	width: 5%;
	text-align: center;
	font-family: "Courier New", monospace;
	font-size: 40px;
}
.green
{
	background: #34e241;
}
.yellow
{
	background: yellow;
}
.purple
{
	background: purple;
	color: white;
}
.grey
{
	background: grey;
	color: white;
}
.red
{
	background: red;
	color: white;
}
.pink
{
	background: pink;
}
.blue
{
	background: blue;
	color: white;
}
.cyan
{
	background: cyan;
}
.brown
{
	background: brown;
	color: white;
}
.bottomleft {
	text-align: left;
	vertical-align: bottom;
	font-size: 15px;
}
.upright {
	text-align: right;
	vertical-align: top;
	font-size: 15px;
}
